/****** Object:  StoredProcedure [dbo].[listar_productos_por_categoria_sp]    Script Date: 06/05/2026 14:57:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[listar_productos_por_categoria_sp]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[listar_productos_por_categoria_sp]
GO
/****** Object:  StoredProcedure [dbo].[listar_productos_por_descripcion_sp]    Script Date: 06/05/2026 14:57:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[listar_productos_por_descripcion_sp]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[listar_productos_por_descripcion_sp]
GO
/****** Object:  StoredProcedure [dbo].[listar_ventas_por_cliente_sp]    Script Date: 06/05/2026 14:57:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[listar_ventas_por_cliente_sp]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[listar_ventas_por_cliente_sp]
GO
/****** Object:  StoredProcedure [dbo].[listar_ventas_por_fecha_sp]    Script Date: 06/05/2026 14:57:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[listar_ventas_por_fecha_sp]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[listar_ventas_por_fecha_sp]
GO
/****** Object:  Table [dbo].[OBRAS_SOCIALES]    Script Date: 06/05/2026 14:57:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OBRAS_SOCIALES]') AND type in (N'U'))
DROP TABLE [dbo].[OBRAS_SOCIALES]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 06/05/2026 14:57:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTOS]') AND type in (N'U'))
DROP TABLE [dbo].[PRODUCTOS]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 06/05/2026 14:57:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 06/05/2026 14:57:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuarios]') AND type in (N'U'))
DROP TABLE [dbo].[Usuarios]
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 06/05/2026 14:57:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VENTAS]') AND type in (N'U'))
DROP TABLE [dbo].[VENTAS]
GO
/****** Object:  Table [dbo].[VENTAS_DETALLES]    Script Date: 06/05/2026 14:57:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VENTAS_DETALLES]') AND type in (N'U'))
DROP TABLE [dbo].[VENTAS_DETALLES]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 06/05/2026 14:57:29 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLIENTES]') AND type in (N'U'))
DROP TABLE [dbo].[CLIENTES]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 06/05/2026 14:57:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLIENTES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CLIENTES](
	[DNI] [varchar](12) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[APELLIDO] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[NOMBRE] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[DIRECCION] [varchar](100) COLLATE Modern_Spanish_CI_AS NULL,
	[NRO_CARNET] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[OS_CUIT] [varchar](20) COLLATE Modern_Spanish_CI_AS NOT NULL,
 CONSTRAINT [PK_CLIENTES_1] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[CLIENTES] ([DNI], [APELLIDO], [NOMBRE], [DIRECCION], [NRO_CARNET], [OS_CUIT]) VALUES (N'24565646', N'Perez', N'Juan', N'Alvear 55', N'455', N'205456400')
INSERT [dbo].[CLIENTES] ([DNI], [APELLIDO], [NOMBRE], [DIRECCION], [NRO_CARNET], [OS_CUIT]) VALUES (N'37460606', N'Mendez', N'Pablo', N'San Martin 22', N'88', N'204564002')
INSERT [dbo].[CLIENTES] ([DNI], [APELLIDO], [NOMBRE], [DIRECCION], [NRO_CARNET], [OS_CUIT]) VALUES (N'3746545', N'Aranda', N'Roberto', N'Belgrano 11', N'97', N'204564011')
/****** Object:  Table [dbo].[VENTAS_DETALLES]    Script Date: 06/05/2026 14:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VENTAS_DETALLES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VENTAS_DETALLES](
	[NUMERO] [int] IDENTITY(1,1) NOT NULL,
	[VENTA_NUMERO] [int] NOT NULL,
	[PRO_CODIGO] [varchar](30) COLLATE Modern_Spanish_CI_AS NULL,
	[PRECIO] [decimal](12, 2) NULL,
	[CANTIDAD] [decimal](8, 3) NULL,
	[TOTAL] [decimal](15, 2) NULL,
 CONSTRAINT [PK_VENTAS_DETALLES] PRIMARY KEY CLUSTERED 
(
	[NUMERO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[VENTAS_DETALLES] ON
INSERT [dbo].[VENTAS_DETALLES] ([NUMERO], [VENTA_NUMERO], [PRO_CODIGO], [PRECIO], [CANTIDAD], [TOTAL]) VALUES (1, 1, N'1', CAST(50000.00 AS Decimal(12, 2)), CAST(1.000 AS Decimal(8, 3)), CAST(50000.00 AS Decimal(15, 2)))
INSERT [dbo].[VENTAS_DETALLES] ([NUMERO], [VENTA_NUMERO], [PRO_CODIGO], [PRECIO], [CANTIDAD], [TOTAL]) VALUES (2, 2, N'1', CAST(50000.00 AS Decimal(12, 2)), CAST(1.000 AS Decimal(8, 3)), CAST(50000.00 AS Decimal(15, 2)))
INSERT [dbo].[VENTAS_DETALLES] ([NUMERO], [VENTA_NUMERO], [PRO_CODIGO], [PRECIO], [CANTIDAD], [TOTAL]) VALUES (3, 3, N'2', CAST(500.00 AS Decimal(12, 2)), CAST(1.000 AS Decimal(8, 3)), CAST(500.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[VENTAS_DETALLES] OFF
/****** Object:  Table [dbo].[VENTAS]    Script Date: 06/05/2026 14:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VENTAS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VENTAS](
	[NUMERO] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NULL,
	[CLI_DNI] [varchar](12) COLLATE Modern_Spanish_CI_AS NOT NULL,
 CONSTRAINT [PK_VENTAS] PRIMARY KEY CLUSTERED 
(
	[NUMERO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[VENTAS] ON
INSERT [dbo].[VENTAS] ([NUMERO], [FECHA], [CLI_DNI]) VALUES (1, CAST(0x0000B455018B80D4 AS DateTime), N'2456564')
INSERT [dbo].[VENTAS] ([NUMERO], [FECHA], [CLI_DNI]) VALUES (2, CAST(0x0000B455018B80D4 AS DateTime), N'2456564')
INSERT [dbo].[VENTAS] ([NUMERO], [FECHA], [CLI_DNI]) VALUES (3, CAST(0x0000B455018B80D4 AS DateTime), N'2456564')
SET IDENTITY_INSERT [dbo].[VENTAS] OFF
/****** Object:  Table [dbo].[Usuarios]    Script Date: 06/05/2026 14:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuarios]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Usuarios](
	[Usu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Usu_NombreUsuario] [varchar](100) COLLATE Modern_Spanish_CI_AS NULL,
	[Usu_Contraseña] [varchar](100) COLLATE Modern_Spanish_CI_AS NULL,
	[Rol_Codigo] [int] NULL,
	[Usu_ApellidoNombre] [varchar](100) COLLATE Modern_Spanish_CI_AS NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[Usu_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON
INSERT [dbo].[Usuarios] ([Usu_ID], [Usu_NombreUsuario], [Usu_Contraseña], [Rol_Codigo], [Usu_ApellidoNombre]) VALUES (13, N'admin', N'admin', 3, N'admin')
INSERT [dbo].[Usuarios] ([Usu_ID], [Usu_NombreUsuario], [Usu_Contraseña], [Rol_Codigo], [Usu_ApellidoNombre]) VALUES (14, N'audi', N'audi', 2, N'audi')
INSERT [dbo].[Usuarios] ([Usu_ID], [Usu_NombreUsuario], [Usu_Contraseña], [Rol_Codigo], [Usu_ApellidoNombre]) VALUES (15, N'mar', N'mar', 1, N'Machicado Marianella')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
/****** Object:  Table [dbo].[Roles]    Script Date: 06/05/2026 14:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Roles](
	[Rol_Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Rol_Descripcion] [varchar](70) COLLATE Modern_Spanish_CI_AS NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[Rol_Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT [dbo].[Roles] ([Rol_Codigo], [Rol_Descripcion]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([Rol_Codigo], [Rol_Descripcion]) VALUES (2, N'Auditor')
INSERT [dbo].[Roles] ([Rol_Codigo], [Rol_Descripcion]) VALUES (3, N'Operador')
SET IDENTITY_INSERT [dbo].[Roles] OFF
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 06/05/2026 14:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRODUCTOS](
	[CODIGO] [varchar](30) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[CATEGORIA] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[DESCRIPCION] [varchar](300) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[PRECIO] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[PRODUCTOS] ([CODIGO], [CATEGORIA], [DESCRIPCION], [PRECIO]) VALUES (N'1', N'TECNOLOGIA', N'Teclado Gamer', CAST(48000.00 AS Decimal(12, 2)))
INSERT [dbo].[PRODUCTOS] ([CODIGO], [CATEGORIA], [DESCRIPCION], [PRECIO]) VALUES (N'2', N'HOGAR', N'Rollo Servilleta', CAST(1500.00 AS Decimal(12, 2)))
INSERT [dbo].[PRODUCTOS] ([CODIGO], [CATEGORIA], [DESCRIPCION], [PRECIO]) VALUES (N'3', N'TECNOLOGIA', N'Mouse', CAST(20000.00 AS Decimal(12, 2)))
/****** Object:  Table [dbo].[OBRAS_SOCIALES]    Script Date: 06/05/2026 14:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OBRAS_SOCIALES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OBRAS_SOCIALES](
	[CUIT] [varchar](20) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[RAZON_SOCIAL] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[DIRECCION] [varchar](100) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[TELEFONO] [varchar](20) COLLATE Modern_Spanish_CI_AS NOT NULL,
 CONSTRAINT [PK_OBRAS_SOCIALES] PRIMARY KEY CLUSTERED 
(
	[CUIT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[OBRAS_SOCIALES] ([CUIT], [RAZON_SOCIAL], [DIRECCION], [TELEFONO]) VALUES (N'30521822363', N'OSDE', N'Av. Fascio 1018', N'03884227500')
INSERT [dbo].[OBRAS_SOCIALES] ([CUIT], [RAZON_SOCIAL], [DIRECCION], [TELEFONO]) VALUES (N'30546654944', N'PAMI', N'Av. Fascio 962', N'03884221500')
INSERT [dbo].[OBRAS_SOCIALES] ([CUIT], [RAZON_SOCIAL], [DIRECCION], [TELEFONO]) VALUES (N'30627725964', N'OSECAC (Empleados de Comercio)', N'Ayacucho 445', N'03884223126')
/****** Object:  StoredProcedure [dbo].[listar_ventas_por_fecha_sp]    Script Date: 06/05/2026 14:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[listar_ventas_por_fecha_sp]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[listar_ventas_por_fecha_sp]
(
    @fecha_inicio VARCHAR(20),
	@fecha_fin VARCHAR(20)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        V.NUMERO AS [Número],
        V.FECHA AS [Fecha],
        V.CLI_DNI AS [Dni Cliente]
    FROM 
        dbo.VENTAS AS V
    WHERE 
        V.FECHA BETWEEN @fecha_inicio AND @fecha_fin
    ORDER BY 
        V.FECHA DESC; 
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[listar_ventas_por_cliente_sp]    Script Date: 06/05/2026 14:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[listar_ventas_por_cliente_sp]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[listar_ventas_por_cliente_sp]
(
    @dni_cliente VARCHAR(20)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        V.NUMERO AS [Número],
        V.FECHA AS [Fecha],
        V.CLI_DNI AS [Dni Cliente]
    FROM 
        dbo.VENTAS AS V
    WHERE 
        V.CLI_DNI = @dni_cliente
    ORDER BY 
        V.FECHA DESC; 
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[listar_productos_por_descripcion_sp]    Script Date: 06/05/2026 14:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[listar_productos_por_descripcion_sp]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[listar_productos_por_descripcion_sp]
AS
BEGIN
	SELECT
		CODIGO as ''Código'',
		CATEGORIA as ''Categoría'',
		DESCRIPCION as ''Descripción'',
		PRECIO as ''Precio''
	FROM PRODUCTOS
	ORDER BY DESCRIPCION
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[listar_productos_por_categoria_sp]    Script Date: 06/05/2026 14:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[listar_productos_por_categoria_sp]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[listar_productos_por_categoria_sp]
AS
BEGIN
	SELECT
		CODIGO as ''Código'',
		CATEGORIA as ''Categoría'',
		DESCRIPCION as ''Descripción'',
		PRECIO as ''Precio''
	FROM PRODUCTOS
	ORDER BY CATEGORIA
END
' 
END
GO
